version 5.198.0

framework: net461
source https://api.nuget.org/v3/index.json

clitool dotnet-fake

nuget FSharp.Core redirects: force
nuget GraphX
nuget QuickGraphPCL 3.6.61114.2
nuget Microsoft.Msagl 1.0.2
nuget Microsoft.Msagl.Drawing 1.0.2
nuget Microsoft.Msagl.GraphViewerGDI 1.0.2
nuget StyleCop.Analyzers
nuget System.ValueTuple
nuget Newtonsoft.Json
nuget System.Xml.XmlDocument


group Tests

framework: net461
source https://api.nuget.org/v3/index.json

nuget NSubstitute
nuget NUnit redirects: force
nuget NUnit3TestAdapter
nuget FsUnit


group TestRunners

framework: net461
source https://api.nuget.org/v3/index.json

nuget NUnit.Console


group FakeBuild

framework: netstandard2.0
source https://api.nuget.org/v3/index.json
storage: none

nuget Fake.Core.Target
nuget Fake.Core.ReleaseNotes 
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.MsBuild
nuget Fake.DotNet.Testing.NUnit
nuget Fake.IO.FileSystem