source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget YC.QuickGraph
nuget GraphX
nuget Microsoft.Automatic.Graph.Drawing 2.0.1
nuget Microsoft.Automatic.Graph.Layout 2.0.1
nuget YAXLib
nuget StyleCop.Analyzers
 
nuget NUnit
nuget NUnit.Runners
nuget FsUnit


group Build
  source https://nuget.org/api/v2

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx
