framework: net452

source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget GraphX
nuget NSubstitute
nuget QuickGraphPCL 3.6.61114.2
nuget Microsoft.Msagl 1.0.2
nuget Microsoft.Msagl.Drawing 1.0.2
nuget Microsoft.Msagl.GraphViewerGDI 1.0.2
nuget StyleCop.Analyzers
nuget NUnit redirects: force
nuget NUnit.Runners
nuget FsUnit

group build 
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx